{% extends '::base.html.twig' %}
{% block placeholder -%}
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active"><span>Usuarios</span></li>
        </ol>
        <div class="clearfix">
            <h1 class="pull-left">Usuarios</h1>
            <div class="pull-right top-page-ui">
                <a href="{{ path('user_new')}}" class="btn btn-primary pull-right">
                    <i class="fa fa-plus-circle fa-lg"></i> Agregar Cliente
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock -%}

{% block body %}
    <section id="content" class="table-layout">

        <!-- begin: .tray-center -->
        <div class="tray tray-center" style="height: 842px;">
        {% block form -%}
          {{ render(controller('FacturasBundle:Producto:new')) }}
        {% endblock -%}
          <!-- recent orders table -->
          <div class="panel">           
            <div class="panel-body pn">
              <div class="table-responsive">
                <table class="table admin-form theme-warning tc-checkbox-1 fs13">
                  <thead>
                    <tr>
                        <th>Clave</th>
                        <th>Tipo</th>
                        <th>Descripción</th>
                        <th>Unidad de medida</th>
                        <th>Precio(Mxn)</th>
                        <th>Precio(Usd)</th>
                        <th>Modelo</th>
                        <th class="text-right">Status</th>
                    </tr>
                </thead>
                  {% block lista -%}
                    {{ render(controller('FacturasBundle:Producto:listado')) }}
                  {% endblock -%}              
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>

      </section>

{% endblock %}
